body {
    margin: 0;
    background-color: #FFF0F5;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    background-image: url(flores\ background.jpg);
    background-size: auto 130%;
    background-position: center;
    background-attachment: fixed;
}
#titulo {
    color: brown;
    font-size: 50px;
    font-style: italic;
    padding-top: 50px;
    padding-bottom: 50px;
    border : 5px solid rgb(215, 246, 167);
    background-color:  rgb(215, 246, 167);
}
.container {
    width: 95%;
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgba(255, 240, 245, 0.9);
    padding: 40px 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border-left: 1px solid hsl(351, 93%, 78%);
    border-right: 1px solid hsl(351, 93%, 78%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lendas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 20px;
    text-indent: 30px;
    padding-left: 20px;
    padding-right: 20px;
}