body {
    background-color: #FFF0F5;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    
}
#titulo {
    color: brown;
    font-size: 50px;
    font-style: italic;
    padding-top: 50px;
    padding-bottom: 50px;
    border : 5px solid rgb(215, 246, 167);
    background-color:  rgb(215, 246, 167);
}
